<h2>Mis Materias</h2>
<ul class="materias">
    <li *ngFor="let materia of materias">
        <a routerLink="/detail/{{materia.id}}">
          <span class="badge">{{materia.id}}</span> {{materia.name}}
        </a>
      </li>
    </ul>



<!--
<div *ngIf="selectedMateria">
 
  <h2>{{selectedMateria.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedMateria.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedMateria.name" placeholder="name">
    </label>
  </div>
 
</div>-->